<div class="py-1 pr-2">
    <div class="px-2 rounded-sm shadow-[0_0_12px_1px_rgba(0,0,0,0.1)] {{ task.isDone ? 'bg-gray-100' : 'bg-white' }} task-container"
         data-task-id="{{ task.id }}">
        <div class="flex">
            <div class="h-full m-auto px-4 flex items-center" onclick="toggleSubTasks({{ task.id }})">
                {% if task.subTasks is empty %}
                    {% include 'task/_checkbox.html.twig' %}
                {% else %}
                    {% include 'task/_progressbox.html.twig' %}
                {% endif %}
            </div>
            <div class="w-full">
                <div class="w-full py-2 pl-2 flex justify-between">
                    <div class="flex items-center gap-2">
                        {% if not task.isDone and task.parent is empty %}
                            <div class="cursor-pointer" onclick="toggleTaskDetails({{ task.id }})">
                                <img src="{{ asset('images/sort-amount-down.svg') }}" alt="Expand details" class="w-4 h-4">
                            </div>
                        {% endif %}
                        <span class="font-bold cursor-pointer {{ task.isDone ? 'line-through text-gray-300' : '' }}"
                              onclick="toggleSubTasks({{ task.id }})">
                            {{ task.title }}
                        </span>
                    </div>
                    <div class="flex items-center gap-2">
                        {% if task.subTasks is empty %}
                            <a href="{{ path('app_task_edit', {id: task.id}) }}" class="{{ task.isDone ? 'line-through text-gray-300' : 'text-emerald-600' }}">
                                <div class="flex items-center gap-1">
                                    {% if task.hasDate and task.hasRange %}
                                        <span class="font-bold">{{ task.startDate|date('d.m.') }}</span>
                                        {% if task.hasTime %}
                                            um
                                            <span class="font-bold">{{ task.startDate|date('H:i') }}</span>
                                            Uhr
                                        {% endif %}
                                        <span class="text-gray-400 text-sm"> - </span>
                                    {% endif %}
                                    {% if task.hasDate %}
                                        <span class="font-bold">{{ task.endDate|date('d.m.') }}</span>
                                        {% if task.hasTime %}
                                            um
                                            <span class="font-bold">{{ task.endDate|date('H:i') }}</span>
                                            Uhr
                                        {% endif %}
                                        {% include 'components/icons/calendar.svg.html.twig' with {
                                            c_color: task.isDone ? '#9CA3AF' : '#059669'
                                        } %}
                                    {% else %}
                                        <span class="text-gray-400 text-sm italic">No date set</span>
                                    {% endif %}
                                </div>
                            </a>
                        {% else %}
                            <div class="pl-36 cursor-pointer" onclick="toggleSubTasks({{ task.id }})">
                                <img src="{{ asset('images/chevron-down.svg') }}" alt="Expand" class="collapse-icon w-4 h-4">
                                <img src="{{ asset('images/chevron-up.svg') }}" alt="Collapse" class="collapse-icon w-4 h-4 hidden">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Expands on click -->
        <div class="task-details hidden w-full pl-2 py-2 flex justify-between items-center">
            <div class="flex-1">
                {% if task.description and not task.isDone %}
                    <span class="font-extralight text-gray-400">{{ task.description }}</span>
                {% endif %}
            </div>
            <div class="flex-shrink-0 mx-4">
                <span class="text-sm text-gray-500">
                    {% if task.tags %}
                        {% for tag in task.tags %}
                            <span class="bg-gray-100 px-2 py-1 rounded">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
            {% if not task.isDone and task.parent is empty %}
                <div class="flex gap-6 flex-shrink-0">
                    <a href="{{ path('app_task_new', {project: task.project.id, parent: task.id}) }}"
                       class="text-blue-500 hover:text-blue-700 text-sm">
                        <div class="flex items-center px-2 hover:bg-gray-50 rounded shadow-inner text-zinc-400 hover:text-emerald-500">
                            <div class="w-4 h-4">
                                {% include 'components/icons/plus.svg.html.twig' with {c_color_hover: '#10B981'} %}
                            </div>
                            <span class="pl-2">New Subtask</span>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>