<div class="px-2 border-t-2 hover:shadow-inner {{ todo.isDone ? 'bg-gray-50' : '' }}">
    <a href="{{ path('app_todo_edit', {id: todo.id}) }}">
        <div class="py-2 flex">
            <div>
                <input type="checkbox" {{ todo.isDone ? 'checked' : '' }}
                       class="mt-1 rounded border-gray-200 text-blue-600 focus:ring-blue-500"
                       onchange="window.location.href='{{ path('app_todo_toggle', {id: todo.id}) }}'">
            </div>
            <div class="w-full">
                <div class="w-full pl-2 flex justify-between">
                    <div>
                    <span class="font-bold {{ todo.isDone ? 'line-through text-gray-500' : '' }}">
                        {{ todo.title }}
                    </span>
                    </div>
                    {% if todo.description %}
                        <div>
                            <span class="font-extralight text-gray-400">{{ todo.description }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="w-full pl-2 py-2 flex justify-between">
                    <div class="flex items-center">
                        {% include 'components/icons/calendar.svg.html.twig' with {c_color: '#b45309'} %}
                        <span class="pl-1 text-amber-700">{{ todo.dueDate|date('M d') }}</span>
                    </div>
                    <div>
                        <span class="text-sm text-gray-500">
                            {% if todo.tags %}
                                {% for tag in todo.tags %}
                                    <span class="bg-gray-100 px-2 py-1 rounded">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                    <div class="flex gap-6">
                        <a href="{{ path('app_todo_new', {project: project.id, parent: todo.id}) }}"
                           class="text-blue-500 hover:text-blue-700 text-sm">
                            <div class="flex items-center px-2 hover:bg-gray-50 rounded shadow-inner text-zinc-400 hover:text-emerald-500">
                                <div class="w-4 h-4">
                                    {% include 'components/icons/plus.svg.html.twig' with {c_color_hover: '#10B981'} %}
                                </div>
                                <span class="pl-2">New Subtask</span>
                            </div>
                        </a>
                    </div>
                </div>
                {% if todo.subTodos is not empty %}
                    <div class="pl-8 mt-4 space-y-4">
                        {% for subTodo in todo.subTodos %}
                            {% include 'todo/_todo_item.html.twig' with {todo: subTodo} %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>