{% extends 'base.html.twig' %}

{% block body %}
<div class="flex h-screen">
    <div class="m-4 w-64 rounded-xl shadow-[0_0_12px_1px_rgba(0,0,0,0.1)]">
        <div class="flex items-center justify-between p-4">
            <div class="flex items-center">
                <div class="w-8 rounded-full bg-zinc-300">
                    <img src="{{ asset('images/me_smol.jpg') }}" alt="Profile Picture" class="h-8 rounded-full">
                </div>
                <span class="font-extralight text-zinc-500 px-2">{{ app.user }}</span>
            </div>
            <div>
                <a href="{{ path('app_logout') }}">
                    <img src="{{ asset('images/logout.svg') }}" alt="Logout" class="w-4 h-4">
                </a>
            </div>
        </div>
        <nav class="p-4">
            {% include 'dashboard/_category.html.twig' with {
                c_category: 'Projects',
                c_elements: main_data.projects
            } %}
            <a href="{{ path('app_project_new') }}" class="block p-1 hover:bg-gray-100 rounded-md">
                <div class="flex items-center">
                    {% include 'components/icons/plus.svg.html.twig' %}
                    <span class="ml-2 text-zinc-400">New Project</span>
                </div>
            </a>
            {% include 'dashboard/_category.html.twig' with {
                c_category: 'Tasks',
                c_elements: main_data.todos
            } %}
        </nav>
    </div>
    <div class="flex-1 p-8">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}